In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import sklearn.model_selection as train_test_split
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder

In [53]:
data=pd.read_csv("salary_data.csv")
df=pd.DataFrame(data)
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [54]:
# Drop rows with missing values
df = df.dropna()

In [55]:
label_encoder=LabelEncoder()

df['Gender']=label_encoder.fit_transform(df['Gender'])
print(label_encoder.classes_)

df['Education Level']=label_encoder.fit_transform(df['Education Level'])
print(label_encoder.classes_)

['Female' 'Male' 'Other']
["Bachelor's" "Bachelor's Degree" 'High School' "Master's"
 "Master's Degree" 'PhD' 'phD']

In [56]:
from sklearn.linear_model import LinearRegression

features=['Age','Gender','Education Level','Years of Experience']
X=df[features]
y=df['Salary']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
model=LinearRegression()
model.fit(X_train,y_train)
print("\nModel training complete: ")

print(f"Coefficient (w1): {model.coef_[0]}")
print(f"Intercept (b): {model.intercept_}")

Model training complete:
Coefficient (w1): -1953.1012436305737
Intercept (b): 99823.30211649975

In [57]:
from sklearn.metrics import mean_squared_error,r2_score
from sklearn import metrics

y_pred=model.predict(X_test)

mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)

print(f"Mean Absolute error: ",metrics.mean_absolute_error(y_test,model.predict(X_test)))
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"R-squared (R2): {r2:.2f}")

Mean Absolute error:  24082.456847311685
Mean Squared Error (MSE): 930065864.85
R-squared (R2): 0.67

In [58]:
#Age,Gender,Education Level,Job Title,Years of Experience,Salary
predicted_salary=model.predict([[20,1,1,4]])
print(f"\nPredicted salary is :{predicted_salary[0]:.2f}")

Predicted salary is :104191.62

d:\TechAxis\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [59]:
import joblib
joblib.dump(model,'salary_model.pkl')

['salary_model.pkl']

In [60]:
joblib.dump(label_encoder,'salary_labelencoder.pkl')

['salary_labelencoder.pkl']

In [61]:
# print("\n--- Predict Salary ---")
# age = int(input("Enter Age: "))
# gender = int(input("Enter Gender (e.g., 0 for Female, 1 for Male): "))
# education = int(input("Enter Education Level (encoded): "))
# job = int(input("Enter Job Title (encoded): "))
# experience = float(input("Enter Years of Experience: "))

# # Make prediction
# user_data = [[age, gender, education, job, experience]]
# predicted_salary = model.predict(user_data)
# print(f"\nPredicted salary is: {predicted_salary[0]:.2f}")