In [23]:
import pandas as pd
# Define a dictionary containing employee data
data1 = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32],
         'Address': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Pokhara']
        }

# Define a dictionary containing employee data
data2 = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Marks': [27, 24, 22, 32],
         'Grade': ['A', 'A', 'C', 'B']
        }

# Convert the dictionary into DataFrame
df1 = pd.DataFrame(data1)

# Convert the dictionary into DataFrame
df2 = pd.DataFrame(data2)
df3=df2["Grade"]
df4=df2['Marks'] 
print(df3)
print(df4)

0    A
1    A
2    C
3    B
Name: Grade, dtype: object
0    27
1    24
2    22
3    32
Name: Marks, dtype: int64

In [24]:
frames = [df1, df3, df4]
res = pd.concat(frames, axis=1)
res.index = range(1,len(res)+1)
print(res)

     Name  Age    Address Grade  Marks
1     Jai   27  Kathmandu     A     27
2  Princi   24  Bhaktapur     A     24
3  Gaurav   22   Lalitpur     C     22
4    Anuj   32    Pokhara     B     32

In [31]:
sorted_df=res.sort_values(by='Age',ascending=False)
print(sorted_df)

     Name  Age    Address Grade  Marks
4    Anuj   34    Pokhara     B     32
1     Jai   29  Kathmandu     A     27
2  Princi   26  Bhaktapur     A     24
3  Gaurav   24   Lalitpur     C     22

In [34]:
res['Age']=res['Age'].apply(lambda x:x+1)
print(res)

grouped_df=res.groupby('Name').mean("Age")
print(grouped_df)

     Name  Age    Address Grade  Marks
1     Jai   31  Kathmandu     A     27
2  Princi   28  Bhaktapur     A     24
3  Gaurav   26   Lalitpur     C     22
4    Anuj   36    Pokhara     B     32
         Age  Marks
Name
Anuj    36.0   32.0
Gaurav  26.0   22.0
Jai     31.0   27.0
Princi  28.0   24.0

In [37]:
grouped_df=res.groupby("Grade")[["Age"]].mean()
print(grouped_df)

        Age
Grade
A      29.5
B      36.0
C      26.0

In [ ]:
grouped_df=df1.groupby("Name")["Age"].mean()
grouped=grouped_df.sort_values(ascending=False)
print(grouped)

Name
Anuj      32.0
Jai       27.0
Princi    24.0
Gaurav    22.0
Name: Age, dtype: float64

In [42]:

grouped=grouped_df.sort_index(ascending=True)
print(grouped)

Name
Anuj      32.0
Gaurav    22.0
Jai       27.0
Princi    24.0
Name: Age, dtype: float64

In [43]:
data={'Category':['A','B','A','B','C'],
      'Values':[10,20,30,40,50]}
df=pd.DataFrame(data)
grouped=df.groupby
print(grouped)

<bound method DataFrame.groupby of   Category  Values
0        A      10
1        B      20
2        A      30
3        B      40
4        C      50>

In [44]:
data = {'Category': ['A', 'A', 'A', 'B', 'B', 'C'],
        'Subcategory': ['X', 'Y', 'X', 'X', 'Y', 'X'],
        'Values': [10, 20, 10, 30, 40, 50]}
df = pd.DataFrame(data)

# Group by 'Category' and 'Subcategory'
grouped = df.groupby(['Category', 'Subcategory'])['Values'].sum()
print(grouped)

Category  Subcategory
A         X              20
          Y              20
B         X              30
          Y              40
C         X              50
Name: Values, dtype: int64

In [45]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25,33, 30]})

left_join = pd.merge(df1, df2, on='ID', how='left')
print(left_join)

   ID     Name   Age
0   1    Alice   NaN
1   2      Bob  25.0
2   3  Charlie  33.0

In [47]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25,33, 30]})

right_join = pd.merge(df1, df2, on='ID', how='right')
print(right_join)

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   33
2   4      NaN   30

In [50]:
inner_join=pd.merge(df1,df2,on='ID',how='inner')
print(inner_join)

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   33

In [51]:
outer_join=pd.merge(df1,df2,on='ID',how='outer')
print(outer_join)

   ID     Name   Age
0   1    Alice   NaN
1   2      Bob  25.0
2   3  Charlie  33.0
3   4      NaN  30.0